<DOCTYPE!>
    <html>
        <head>
                <script src="static/js/jquery-1.10.2.min.js"></script>
                <script src="static/js/jquery-1.11.0.js"></script>
                <script src="static/js/jquery-ui.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
                <style>
                    table, th , td {
                        border: 1px solid grey;
                        border-collapse: collapse;
                        padding: 5px;
                    }
                    table tr:nth-child(odd) {
                        background-color: #f1f1f1;
                    }
                    table tr:nth-child(even) {
                        background-color: #ffffff;
                    }
                </style>
        </head>
        <body>
            <div data-ng-app="myApp" data-ng-controller="myCtrl" data-ng-init="loadData()">
                <json-data-directive></json-data-directive>
                <table>
                    <tr ng-repeat="x in users | orderBy : 'username'">
                        <td>{{ x.username | uppercase }}</td>
                        <td>{{ x.email }}</td>
                    </tr>
                </table>
                      
                <form data-ng-submit="hitPython()">
                    <table>
                        <tr>
                            <td>
                                <label>Username</label>
                            </td>
                            <td>
                                <input type="text" id="username" name="username" data-ng-model="username">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                    <label>Email</label>
                            </td>
                            <td>
                                    <input type="email" id="email" name="email" data-ng-model="email">
                            </td>
                                
                        </tr>
                    </table>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <script>
                    var app = angular.module('myApp', []);             
                    
                    app.controller('myCtrl', function($scope,$http) {  
                        
                        $scope.loadData = function(){
                            $http.get('http://localhost:5000/users').then(
                                function (response) {
                                    $scope.users = response.data;
                                }
                            );
                        };

                        $scope.hitPython = function() {
                            $http({
                                method : "POST",
                                data : '{"username":"' + $scope.username + '","email":"' + $scope.email +'"}',
                                url : "http://localhost:5000/user"
                            }).then(function mySuccess(response) {
                                alert('SUCCESS');
                                $scope.loadData();
                            }, function myError(response) {
                                alert('ERROR');
                            });
                            
                            return false;
                        };
                    });

                     app.directive("jsonDataDirective", function() {
                        return {
                            template : '<h1>PYTHON REST API<h1>'
                        };
                    });
                </script>
        </body>
    </html>